@font-face {
      font-family: 'ExtraBoldAlt';
      src: url('../fonts/AkzidenzGrotesk-ExtraBoldAlt.otf') format('opentype');
      }

@font-face {
      font-family: 'BoldCondItalicAlt';
      src: url('../fonts/AkzidenzGrotesk-ExtraBoldCondItalicAlt.otf') format('opentype');
    }

h2{
    font-family: 'ExtraBoldAlt';
}

h3{
    font-family: 'ExtraBoldAlt';
    padding: 10px;
}

/* estilos_formulario.css */
body {
    background-color: #e2d6b7;
    align-items: center;
}

#miFormulario {
    background-color: #e2d6b7;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 8px;
}

#miFormulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'ExtraBoldAlt', Arial, Helvetica, sans-serif;
}

#miFormulario input[type="text"],
#miFormulario input[type="email"],
#miFormulario input[type="date"],
#miFormulario select {
    width: calc(100% - 12px); /* Ajuste para el padding */
    font-family: 'BoldCondItalicAlt', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 16px;
    border-width: 0;
    text-transform: uppercase !important;
}

#miFormulario input[type="checkbox"],
#miFormulario input[type="radio"] {
    margin-right: 5px;
    font-size: 14px;
    padding: 16px;
    border-width: 0;
    text-transform: uppercase !important;
    margin-top: 5px;
}

#miFormulario button[type="submit"] {
  color: #000000 !important;
  font-size: 20px;
  font-family: 'ExtraBoldAlt', Arial, Helvetica, sans-serif;
  border-width: 2px !important;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid;
  border-radius: 3px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  text-transform: uppercase !important;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: 7px;
}

#miFormulario button[type="submit"]:hover {
    background-color: #0056b3;
}

#miFormulario small {
    display: block;
    color: #777;
    margin-top: 5px;
}

.radio-group {
    margin-bottom: 15px;
  }
  
  .radio-options {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  
  .radio-options label {
    display: inline-flex !important;
    align-items: center;
    font-weight: normal;
  }
  

  /* Responsive: cambia a 1 columna en móviles */
@media (max-width: 768px) {
  .form-row {
    grid-template-columns: 1fr;
  }
}