---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Formulario Clientes">
  <div class="container">
    <div class="left-panel">
      <div class="image-stack">
        <img src="../HOME.gif" alt="Imagen base" class="imagen-base" />
        <img src="../HLVB-LOGO-04.png" alt="Imagen superpuesta" class="imagen-superpuesta" />
      </div>
    </div>
    <div class="right-panel">
      <form method="POST" action="/api/clientes">
        <label for="ps_surname">Apellido:</label>
        <input type="text" id="ps_surname" name="ps_surname" required />

        <label for="ps_givnam">Nombre:</label>
        <input type="text" id="ps_givnam" name="ps_givnam" required />

        <label for="ps_sex">Sexo:</label>
        <select id="ps_sex" name="ps_sex" required>
          <option value="">Seleccione</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>

        <label for="ps_email">Email:</label>
        <input type="email" id="ps_email" name="ps_email" required />

        <fieldset>
          <legend>Fecha de nacimiento</legend>
          <label for="ps_dbirth">Fecha:</label>
          <input type="date" id="ps_dbirth" name="ps_dbirth" required />
        </fieldset>

        <button type="submit" class="boton-guardar">Guardar</button>
      </form>
    </div>
  </div>
</BaseLayout>