---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Formulario Clientes">
  <div class="container">
    <div class="left-panel">
      <div class="image-stack">
        <img src="../HOME.gif" alt="Imagen base" class="imagen-base" />
        <img src="../HLVB-LOGO-04.png" alt="Imagen superpuesta" class="imagen-superpuesta" />
      </div>
    </div>
    <div class="right-panel">
      <form method="POST" action="/api/clients">
        <input type="text" id="ps_surname" name="ps_surname" placeholder="SURNAMES (e.g., FERNANDEZ GARCIA)" required />
        <input type="text" id="ps_givnam" name="ps_givnam" placeholder="GIVEN NAMES(e.g., JUAN MIGUEL)" required />

        <select id="ps_sex" name="ps_sex" required>
          <option value="">-- SEX --</option>
          <option value="M">MALE</option>
          <option value="F">FEMALE</option>
          <option value="O">OTHER</option>
        </select>

        <input type="email" id="ps_email" name="ps_email" placeholder="EMAIL (e.g., contact@hlvb.com)" required />
        <label for="ps_dbirth">DATE OF BIRTH</label>
        <input type="date" id="ps_dbirth" name="ps_dbirth" required/>

        <button type="submit" class="boton-guardar">CONTINUE</button>
      </form>
    </div>
  </div>
</BaseLayout>