---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Background Information</h2>

        <div>
            <label for="belongToClanOrTribe">Do you belong to a clan or tribe?</label>
            <input type="text" id="belongToClanOrTribe" name="belongToClanOrTribe">
        </div>

        <div>
            <label for="clanOrTribeName">Clan or Tribe Name</label>
            <input type="text" id="clanOrTribeName" name="clanOrTribeName">
        </div>
        
        <div>
            <label for="languagesSpoken">Provide a List of Languages You Speak</label>
            <input type="text" id="languagesSpoken" name="languagesSpoken">
        </div>
        
        <div>
            <label for="traveledToCountries">Have you traveled to any countries within?</label>
            <input type="text" id="traveledToCountries" name="traveledToCountries">
        </div>

        <div>
            <label for="countriesVisited">Provide a List of Countries Visited</label>
            <input type="text" id="countriesVisited" name="countriesVisited">
        </div>

        <div>
            <label for="belongedToOrganization">Have you belonged to, contributed to, or served any organization?</label>
            <input type="text" id="belongedToOrganization" name="belongedToOrganization">
        </div>

        <div>
            <label for="organizationName">Organization Name</label>
            <input type="text" id="organizationName" name="organizationName">
        </div>

        <div>
            <label for="specializedSkills">Do you have any specialized skills or training, such as firearms, explosives, nuclear, biological, or chemical?</label>
            <input type="text" id="specializedSkills" name="specializedSkills">
        </div>
        
        <div>
            <label for="explainSpecializedSkills">Explain</label>
            <input type="text" id="explainSpecializedSkills" name="explainSpecializedSkills">
        </div>

        <hr>

        <h2>Military Service</h2>

        <div>
            <label for="servedInMilitary">Have you ever served in the military?</label>
            <input type="text" id="servedInMilitary" name="servedInMilitary">
        </div>

        <div>
            <label for="militaryCountry">Name of Country/Region</label>
            <input type="text" id="militaryCountry" name="militaryCountry">
        </div>
        
        <div>
            <label for="branchOfService">Branch of Service</label>
            <input type="text" id="branchOfService" name="branchOfService">
        </div>

        <div>
            <label for="rankPosition">Rank/Position</label>
            <input type="text" id="rankPosition" name="rankPosition">
        </div>

        <div>
            <label for="militarySpecialty">Military Specialty</label>
            <input type="text" id="militarySpecialty" name="militarySpecialty">
        </div>

        <div>
            <label for="dateOfServiceFrom">Date of Service From [mm/dd/yyyy]</label>
            <input type="text" id="dateOfServiceFrom" name="dateOfServiceFrom">
        </div>

        <div>
            <label for="dateOfServiceTo">Date of Service To [mm/dd/yyyy]</label>
            <input type="text" id="dateOfServiceTo" name="dateOfServiceTo">
        </div>

        <div>
            <label for="servedInOrMemberOf">Have you ever served in, been a member of?</label>
            <input type="text" id="servedInOrMemberOf" name="servedInOrMemberOf">
        </div>
        
        <div>
            <label for="explainServedInOrMemberOf">Explain</label>
            <input type="text" id="explainServedInOrMemberOf" name="explainServedInOrMemberOf">
        </div>

        <button type="submit">Submit</button>
    </form>
