---
import "../styles/styleform.css"
---
<h2>Background Information</h2>
<form id="miFormulario" action="#" method="post">
        
        

    <div class="form-row">
        <div class="form-field">
           <label for="belongToClanOrTribe">Do you belong to a clan or tribe?</label>
            <input type="text" id="belongToClanOrTribe" name="belongToClanOrTribe">
        </div>    
        <div class="form-field">
            <label for="clanOrTribeName">Clan or Tribe Name</label>
            <input type="text" id="clanOrTribeName" name="clanOrTribeName">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="languagesSpoken">Provide a List of Languages You Speak</label>
            <input type="text" id="languagesSpoken" name="languagesSpoken">
        </div>    
        <div class="form-field">
            <label for="traveledToCountries">Have you traveled to any countries within?</label>
            <input type="text" id="traveledToCountries" name="traveledToCountries">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="countriesVisited">Provide a List of Countries Visited</label>
            <input type="text" id="countriesVisited" name="countriesVisited">
        </div>    
        <div class="form-field">
            <label for="belongedToOrganization">Have you belonged to, contributed to, or served any organization?</label>
            <input type="text" id="belongedToOrganization" name="belongedToOrganization">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="organizationName">Organization Name</label>
            <input type="text" id="organizationName" name="organizationName">
        </div>    
        <div class="form-field">
            <label for="specializedSkills">Do you have any specialized skills or training, such as firearms, explosives, nuclear, biological, or chemical?</label>
            <input type="text" id="specializedSkills" name="specializedSkills">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="explainSpecializedSkills">Explain</label>
            <input type="text" id="explainSpecializedSkills" name="explainSpecializedSkills">
        </div>    
        <div class="form-field">
            
        </div>   
    </div>
<h3>Military Service</h3>
    <div class="form-row">
        <div class="form-field">
           <label for="servedInMilitary">Have you ever served in the military?</label>
            <input type="text" id="servedInMilitary" name="servedInMilitary">
        </div>    
        <div class="form-field">
            <label for="militaryCountry">Name of Country/Region</label>
            <input type="text" id="militaryCountry" name="militaryCountry">
        </div>   
    </div>
    <div class="form-row">
        <div class="form-field">
           <label for="branchOfService">Branch of Service</label>
            <input type="text" id="branchOfService" name="branchOfService">
        </div>    
        <div class="form-field">
            <label for="rankPosition">Rank/Position</label>
            <input type="text" id="rankPosition" name="rankPosition">
        </div>   
    </div>
    <div class="form-row">
        <div class="form-field">
           <label for="militarySpecialty">Military Specialty</label>
            <input type="text" id="militarySpecialty" name="militarySpecialty">
        </div>    
        <div class="form-field">
            <label for="dateOfServiceFrom">Date of Service From [mm/dd/yyyy]</label>
            <input
                    type="date"
                    id="ps_dbirth"
                    name="ps_dbirth"
                    required
                />
        </div>   
    </div>
    <div class="form-row">
        <div class="form-field">
           <label for="dateOfServiceTo">Date of Service To [mm/dd/yyyy]</label>
            <input
                    type="date"
                    id="ps_dbirth"
                    name="ps_dbirth"
                    required
                />
        </div>    
        <div class="form-field">
            <label for="servedInOrMemberOf">Have you ever served in, been a member of?</label>
            <input type="text" id="servedInOrMemberOf" name="servedInOrMemberOf">
        </div>   
    </div>
    <div class="form-row">
        <div class="form-field">
           <label for="explainServedInOrMemberOf">Explain</label>
            <input type="text" id="explainServedInOrMemberOf" name="explainServedInOrMemberOf">
        </div>    
        <div class="form-field">
            
        </div>   
    </div> 
        <button type="submit">Save and Continue</button>
    </form>
