---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Family Information</h2>

        <div>
            <label for="fatherSurname">Father's Surnames</label>
            <input type="text" id="fatherSurname" name="fatherSurname">
        </div>

        <div>
            <label for="fatherGivenNames">Father's Given Names</label>
            <input type="text" id="fatherGivenNames" name="fatherGivenNames">
        </div>
        
        <div>
            <label for="fatherDOB">Father's Date of Birth [mm/dd/yyyy]</label>
            <input type="text" id="fatherDOB" name="fatherDOB">
        </div>
        
        <div>
            <label for="isFatherInUS">Is your father in the U.S.?</label>
            <input type="text" id="isFatherInUS" name="isFatherInUS">
        </div>

        <div>
            <label for="motherSurname">Mother's Surnames</label>
            <input type="text" id="motherSurname" name="motherSurname">
        </div>

        <div>
            <label for="motherGivenNames">Mother's Given Names</label>
            <input type="text" id="motherGivenNames" name="motherGivenNames">
        </div>
        
        <div>
            <label for="motherDOB">Mother's Date of Birth [mm/dd/yyyy]</label>
            <input type="text" id="motherDOB" name="motherDOB">
        </div>
        
        <div>
            <label for="isMotherInUS">Is your mother in the U.S.?</label>
            <input type="text" id="isMotherInUS" name="isMotherInUS">
        </div>

        <hr>

        <h2>Immediate Relatives</h2>

        <div>
            <label for="anyImmediateRelatives">Do you have any immediate relatives, not spouses?</label>
            <input type="text" id="anyImmediateRelatives" name="anyImmediateRelatives">
        </div>

        <div>
            <label for="relative1Surname">Surnames</label>
            <input type="text" id="relative1Surname" name="relative1Surname">
        </div>

        <div>
            <label for="relative1GivenNames">Given Names</label>
            <input type="text" id="relative1GivenNames" name="relative1GivenNames">
        </div>
        
        <div>
            <label for="relative1Relationship">Relationship to You</label>
            <input type="text" id="relative1Relationship" name="relative1Relationship">
        </div>
        
        <div>
            <label for="relative1Status">Relative's Status (in the U.S.)</label>
            <input type="text" id="relative1Status" name="relative1Status">
        </div>

        <div>
            <label for="relative2Surname">Surnames 2</label>
            <input type="text" id="relative2Surname" name="relative2Surname">
        </div>

        <div>
            <label for="relative2GivenNames">Given Names 2</label>
            <input type="text" id="relative2GivenNames" name="relative2GivenNames">
        </div>
        
        <div>
            <label for="relative2Relationship">Relationship to You 2</label>
            <input type="text" id="relative2Relationship" name="relative2Relationship">
        </div>
        
        <div>
            <label for="relative2Status">Relative's Status (in the U.S.) 2</label>
            <input type="text" id="relative2Status" name="relative2Status">
        </div>

        <div>
            <label for="anyOtherRelatives">Do you have any other relatives in the U.S.?</label>
            <input type="text" id="anyOtherRelatives" name="anyOtherRelatives">
        </div>

        <hr>

        <h2>Spouse Information</h2>

        <div>
            <label for="spouseSurname">Spouse's Surname</label>
            <input type="text" id="spouseSurname" name="spouseSurname">
        </div>
        
        <div>
            <label for="spouseGivenNames">Spouse's Given Names</label>
            <input type="text" id="spouseGivenNames" name="spouseGivenNames">
        </div>

        <div>
            <label for="spouseDOB">Spouse's Date of Birth [mm/dd/yyyy]</label>
            <input type="text" id="spouseDOB" name="spouseDOB">
        </div>

        <div>
            <label for="spouseCountry">Spouse's Country/Region of Origin</label>
            <input type="text" id="spouseCountry" name="spouseCountry">
        </div>

        <div>
            <label for="spouseCity">City</label>
            <input type="text" id="spouseCity" name="spouseCity">
        </div>
        
        <div>
            <label for="spouseCountryRegion">Country/Region</label>
            <input type="text" id="spouseCountryRegion" name="spouseCountryRegion">
        </div>

        <div>
            <label for="spouseAddress1">Street Address (Line 1)</label>
            <input type="text" id="spouseAddress1" name="spouseAddress1">
        </div>
        
        <div>
            <label for="spouseAddress2">Street Address (Line 2)</label>
            <input type="text" id="spouseAddress2" name="spouseAddress2">
        </div>

        <div>
            <label for="spouseCity2">City</label>
            <input type="text" id="spouseCity2" name="spouseCity2">
        </div>

        <div>
            <label for="spouseStateProvince">State/Province</label>
            <input type="text" id="spouseStateProvince" name="spouseStateProvince">
        </div>

        <div>
            <label for="spousePostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="spousePostalCode" name="spousePostalCode">
        </div>

        <div>
            <label for="spousePhoneNumber">Phone Number</label>
            <input type="text" id="spousePhoneNumber" name="spousePhoneNumber">
        </div>

        <hr>

        <h2>Former Spouse Information</h2>

        <div>
            <label for="formerSpouseSurname">Former Spouse's Surname</label>
            <input type="text" id="formerSpouseSurname" name="formerSpouseSurname">
        </div>
        
        <div>
            <label for="formerSpouseGivenNames">Former Spouse's Given Name</label>
            <input type="text" id="formerSpouseGivenNames" name="formerSpouseGivenNames">
        </div>

        <div>
            <label for="formerSpouseDOB">Former Spouse's Date of Birth</label>
            <input type="text" id="formerSpouseDOB" name="formerSpouseDOB">
        </div>

        <div>
            <label for="formerSpouseNationality">Former Spouse's Country of Nationality</label>
            <input type="text" id="formerSpouseNationality" name="formerSpouseNationality">
        </div>

        <div>
            <label for="formerSpousePlaceOfBirth">Former Spouse's Place of Birth</label>
            <input type="text" id="formerSpousePlaceOfBirth" name="formerSpousePlaceOfBirth">
        </div>
        
        <div>
            <label for="dateMarriageBegan">Date of Marriage [mm/dd/yyyy]</label>
            <input type="text" id="dateMarriageBegan" name="dateMarriageBegan">
        </div>
        
        <div>
            <label for="dateMarriageEnded">Date Marriage Ended [mm/dd/yyyy]</label>
            <input type="text" id="dateMarriageEnded" name="dateMarriageEnded">
        </div>
        
        <div>
            <label for="marriageTerminationCountry">Country Marriage Was Terminated</label>
            <input type="text" id="marriageTerminationCountry" name="marriageTerminationCountry">
        </div>

        <button type="submit">Submit</button>
</form>
