---

---
<style>
  footer {
    display: flex;
    background-color: #0C1343;
    color: #fff;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    padding: 0.1em;
    font-family: avenir;
  }

  a {
    color: #fff;
    padding: 17px;
  }
</style>
<footer>
  <a href={`https://hastalavisababy.com/privacy-policy/`}>Privacy Policy</a>
  <p>© Hasta La Visa Baby 2025.</p>
  <a href={`https://www.hastalavisababy.com/`}>www.hastalavisababy.com</a>
</footer>