---
import "../styles/styleform.css"
---
<h2>Passport/Travel Document Information</h2>
<form id="miFormulario" action="#" method="post">
        
        
    <div class="form-row">
        <div class="form-field">
            <label for="passportType">Passport/Travel Document Type</label>
            <input type="text" id="passportType" name="passportType">
        </div>    
        <div class="form-field">
            <label for="passportNumber">Passport/Travel Document Number</label>
            <input type="text" id="passportNumber" name="passportNumber">
        </div>   
    </div>    
    <div class="form-row">
        <div class="form-field">
            <label for="passportBookNumber">Passport Book Number</label>
            <input type="text" id="passportBookNumber" name="passportBookNumber">
        </div>    
        <div class="form-field">
            <label for="issuingCountry">Country/Authority that Issued</label>
            <input type="text" id="issuingCountry" name="issuingCountry">
        </div>   
    </div>    
    <div class="form-row">
        <div class="form-field">
           <label for="whereIssued">Where was the Passport/Travel Document Issued?</label>
            <input type="text" id="whereIssued" name="whereIssued">
        </div>    
        <div class="form-field">
            <label for="cityIssued">City</label>
            <input type="text" id="cityIssued" name="cityIssued">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="stateProvinceIssued">State/Province *If show on passport</label>
            <input type="text" id="stateProvinceIssued" name="stateProvinceIssued">
        </div>    
        <div class="form-field">
            <label for="countryRegionIssued">Country/Region</label>
            <input type="text" id="countryRegionIssued" name="countryRegionIssued">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="issuanceDate">Issuance Date [mm/dd/yyyy]</label>
            <input type="text" id="issuanceDate" name="issuanceDate">
        </div>    
        <div class="form-field">
            <label for="expirationDate">Expiration Date [mm/dd/yyyy]</label>
            <input type="text" id="expirationDate" name="expirationDate">
        </div>   
    </div>  
<h3>Lost Passport</h3>    
    <div class="form-row">
        <div class="form-field">
           <label for="lostPassport">Have you ever lost a passport or had one?</label>
            <input type="text" id="lostPassport" name="lostPassport">
        </div>    
        <div class="form-field">
            <label for="lostPassportNumber">Passport/Travel Document Number</label>
            <input type="text" id="lostPassportNumber" name="lostPassportNumber">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="lostIssuingCountry">Country/Authority that Issued</label>
            <input type="text" id="lostIssuingCountry" name="lostIssuingCountry">
        </div>    
        <div class="form-field">
            <label for="explainLostPassport">Explain</label>
            <input type="text" id="explainLostPassport" name="explainLostPassport">
        </div>   
    </div>  
        <button type="submit">Save and Continue</button>
</form>
