---
export const prerender = false;

import "../styles/styleform.css"
import { initFormHandler } from "../pages/api/formHandler";

import { prisma } from "../lib/prisma";


const url = new URL(Astro.request.url);
const id = url.searchParams.get("id") || "";

const clientData = id
  ? await prisma.cLIENTS.findUnique({
      where: { ID_CLIENT: Number(id) }
    })
  : null;
  
---
<h2>Passport/Travel Document Information</h2>
<form id="miFormulario" action="#" method="post">
        
        
    <div class="form-row">
        <div class="form-field">
            <label for="passportType">Passport/Travel Document Type</label>
            <input type="text" id="passportType" name="passportType">
        </div>    
        <div class="form-field">
            <label for="passportNumber">Passport/Travel Document Number</label>
            <input type="text" id="passportNumber" name="passportNumber">
        </div>   
    </div>    
    <div class="form-row">
        <div class="form-field">
            <label for="passportBookNumber">Passport Book Number</label>
            <input type="text" id="passportBookNumber" name="passportBookNumber">
        </div>    
        <div class="form-field">
            <label for="issuingCountry">Country/Authority that Issued</label>
            <select id="issuingCountry" name="issuingCountry" >
                <option value="" disabled >- SELECT ONE -</option>
                <option value="COLOMBIA" selected="COLOMBIA">COLOMBIA</option>
            </select>

        </div>   
    </div>    

    <div class="form-row">
        <div class="form-field">
           <label for="whereIssued">Where was the Passport/Travel Document Issued?</label>
            <input type="text" id="whereIssued" name="whereIssued">
        </div>    
        <div class="form-field">
            <label for="cityIssued">City</label>
            <input type="text" id="cityIssued" name="cityIssued">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="stateProvinceIssued">State/Province *If show on passport</label>
            <input type="text" id="stateProvinceIssued" name="stateProvinceIssued">
        </div>    
        <div class="form-field">
            <label for="countryRegionIssued">Country/Region</label>
            <input type="text" id="countryRegionIssued" name="countryRegionIssued">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="issuanceDate">Issuance Date [mm/dd/yyyy]</label>
            <input
                    type="date"
                    id="issuanceDate"
                    name="issuanceDate"
                    value={clientData?.PS_DBIRTH?.toISOString().split("T")[0] || ""}
                    required
                />
        </div>    
        <div class="form-field">
            <label for="expirationDate">Expiration Date [mm/dd/yyyy]</label>
            <input
                    type="date"
                    id="issuanceDate"
                    name="issuanceDate"
                    value={clientData?.PS_DBIRTH?.toISOString().split("T")[0] || ""}
                    required
                />
        </div>   
    </div>  
<h3>Lost Passport</h3>    
    <div class="form-row">
        <div class="form-field">
           <label for="lostPassport">Have you ever lost a passport or had one?</label>
            <div class="radio-options" >
                <label><input type="radio" name="ps_telecod" value="YES" checked={clientData?.PS_TELCOD === "Y"}  > Yes</label>
                <label><input type="radio" name="ps_telecod" value="NO" checked={clientData?.PS_TELCOD === "N"}   > No</label>
            </div>
        </div>    
        <div class="form-field">
            <label for="lostPassportNumber">Passport/Travel Document Number</label>
            <input type="text" id="lostPassportNumber" name="lostPassportNumber">
        </div>   
    </div>  
    <div class="form-row">
        <div class="form-field">
           <label for="lostIssuingCountry">Country/Authority that Issued</label>
            <input type="text" id="lostIssuingCountry" name="lostIssuingCountry">
        </div>    
        <div class="form-field">
            <label for="explainLostPassport">Explain</label>
            <input type="text" id="explainLostPassport" name="explainLostPassport">
        </div>   
    </div>  
        <button type="submit">Save and Continue</button>
</form>
