---
export const prerender = false;

import "../styles/styleform.css"
import { initFormHandler } from "../pages/api/formHandler";

import { prisma } from "../lib/prisma";


const url = new URL(Astro.request.url);
const id = url.searchParams.get("id") || "";

const clientData = id
  ? await prisma.cLIENTS.findUnique({
      where: { ID_CLIENT: Number(id) }
    })
  : null;
  
---

<h2>PERSONAL INFORMATION</h2>
<form id="miFormulario" method="POST" >
    <input type="hidden" name="id" value={id}>
    <input type="hidden" name="api" value="clients-update">
    <div class="form-row">
        <div class="form-field">
            <label for="surnames">Surnames</label>
            <input type="text" name="ps_surname" value={clientData?.PS_SURNAME || ""} required >
        </div>

        <div class="form-field">
            <label for="givenNames">Given Names</label>
            <input type="text" name="ps_givnam" value={clientData?.PS_GIVNAM || ""} required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <label for="ps_fullname">Full Name in Native Alphabet</label>
            <input type="text" id="ps_fullname" name="ps_fullname" value={(clientData?.PS_GIVNAM || "") + " " + (clientData?.PS_SURNAME || "")}>
            <label>
                <input type="checkbox" name="nativeAlphabetNotApplicable" value="true"> Does Not Apply/Technology Not Available
            </label>
        </div>
        <div class="form-field">
            <label for="ps_qst1">Have you ever used other names (i.e. maiden, religious, professional, alias, etc.)?</label>
            <div class="radio-options" >
                <label><input type="radio" name="ps_qst1" value="Y" checked={clientData?.PS_QST1 === "Y"} > Yes</label>
                <label><input type="radio" name="ps_qst1" value="N" checked={clientData?.PS_QST1 === "N"} > No</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <label for="ps_osurn">Other Surnames</label>
            <input type="text" name="ps_osurn" value={clientData?.PS_OSURN || ""} >
        </div>
        <div class="form-field">
            <label for="ps_ogivn">Other Given Names</label>
            <input type="text" name="ps_ogivn" value={clientData?.PS_OGIVN || ""} >
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">  
            <label for="sex">Sex</label>
            <select id="ps_sex" name="ps_sex" required>
                <option value="" disabled >- SELECT ONE -</option>
                <option value="M" selected={clientData?.PS_SEX === "M"}>Male</option>
                <option value="F" selected={clientData?.PS_SEX === "F"}>Female</option>
                <option value="O" selected={clientData?.PS_SEX === "O"}>Other</option>
            </select>
    </div>        
        <div class="form-field">
            <div class="radio-group">
            <label for="ps_telecod">Do you have a telecode that represents your name?</label>
            <div class="radio-options" >
                <label><input type="radio" name="ps_telecod" value="YES" checked={clientData?.PS_TELCOD === "Y"}  > Yes</label>
                <label><input type="radio" name="ps_telecod" value="NO" checked={clientData?.PS_TELCOD === "N"}   > No</label>
            </div>
        </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <label for="ps_marital">Marital Status</label>
            <select id="ps_marital" name="ps_marital" required>
                <option value="" disabled >- SELECT ONE -</option>
                <option value="SINGLE" selected={clientData?.PS_MARITAL === "SINGLE"}>Single</option>
                <option value="MARRIED" selected={clientData?.PS_MARITAL === "MARRIED"}>Married</option>
                <option value="DIVORCED" selected={clientData?.PS_MARITAL === "DIVORCED"}>Divorced</option>
                <option value="WIDOWED" selected={clientData?.PS_MARITAL === "WIDOWED"}>Widowed</option>
                <option value="SEPARATED" selected={clientData?.PS_MARITAL === "SEPARATED"}>Separated</option>
            </select>
        </div>
        <div class="form-field">
            <label for="correo">Email:</label>
            <input type="email" id="ps_email" name="ps_email" value={clientData?.PS_EMAIL || ""} required>
        </div>
    </div>

    <h3>Date and Place of Birth</h3>

    <div class="form-row">
        <div class="form-field">
            <label for="birthDate">Date</label>
                <input
                    type="date"
                    id="ps_dbirth"
                    name="ps_dbirth"
                    value={clientData?.PS_DBIRTH?.toISOString().split("T")[0] || ""}
                    required
                />
        </div>
            
        <div class="form-field">
            <label for="ps_dcity">City</label>
            <input type="text" id="ps_dcity" name="ps_dcity"  value={clientData?.PS_DCITY || ""} >
        </div>
    </div>

    <div class="form-row">
        <div class="form-field">
            <label for="ps_dstate">State/Province</label>
                <input type="text" id="ps_dstate" name="ps_dstate"  value={clientData?.PS_DSTATE || ""}>
                <label>
                    <input type="checkbox" name="stateProvinceNotApplicable" value="true" > Does Not Apply
                </label>
        </div>
        <div class="form-field">
            <label for="ps_country">Country/Region</label>
                <select id="ps_country" name="ps_country" >
                    <option value="" disabled >- SELECT ONE -</option>
                    <option value="COLOMBIA" selected={clientData?.PS_COUNTRY === "COLOMBIA"}>COLOMBIA</option>
                    </select>
        </div>
    </div>
<h3>Other Info</h3>
    <div class="form-row">
        <div class="form-field">
            <label for="ps_ocountry">Country/Region of Origin (Nationality)</label>
            <input type="text" id="ps_ocountry" name="ps_ocountry"  value={clientData?.PS_OCOUNTRY || ""} >
        </div>
        <div class="form-field">
            <label for="ps_hold">Do you hold or have you held any nationality other than the one indicated above?</label>
            <div class="radio-options" >
                <label><input type="radio" name="ps_hold" value="Y" checked={clientData?.PS_HOLD === "Y"} > Yes</label>
                <label><input type="radio" name="ps_hold" value="N" checked={clientData?.PS_HOLD === "N"} > No</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <label for="ps_hoccountry">Other Country/Region of Origin (Nationality)</label>
                <select id="ps_hoccountry" name="ps_hoccountry" >
                    <option value="" disabled >- SELECT ONE -</option>
                    <option value="COLOMBIA" selected={clientData?.PS_HOCCOUNTRY === "COLOMBIA"}>COLOMBIA</option>
                </select>
        </div>    
        <div class="form-field">
            <label for="ps_resident">Are you a permanent resident of a country/region other than your country/region of origin (nationality) indicated above?</label>
            <div class="radio-options" >
                <label><input type="radio" name="ps_resident" value="Y" checked={clientData?.PS_RESIDENT === "Y"} > Yes</label>
                <label><input type="radio" name="ps_resident" value="N" checked={clientData?.PS_RESIDENT === "N"} > No</label>
            </div>
        </div>
    </div>       

     <div class="form-row">
        <div class="form-field">

        </div>    
        <div class="form-field">
            <label for="birthCountryRegion">Other Country/Region of Origin (Nationality)</label>
                <select id="ps_rcountry" name="ps_rcountry" >
                    <option value="" disabled >- SELECT ONE -</option>
                    <option value="COLOMBIA" selected={clientData?.PS_RCOUNTRY === "COLOMBIA"}>COLOMBIA</option>
                </select>
        </div>
    </div>      
    <div class="form-row">
        <div class="form-field">
            <label for="ps_passhold">Do you hold a passport for the other country/region of origin (nationality) above?</label>
                <div class="radio-options" >
                <label><input type="radio" name="ps_passhold" value="Y" checked={clientData?.PS_PASSHOLD === "Y"} > Yes</label>
                <label><input type="radio" name="ps_passhold" value="N" checked={clientData?.PS_PASSHOLD === "N"} > No</label>
                </div>
        </div>    
        <div class="form-field">
            <label for="ps_identity">National Identification Number(DNA)</label>
            <input type="text" id="ps_identity" name="ps_identity" value={clientData?.PS_IDENTITY || ""} >
        </div>
    </div>   
    <div class="form-row">
        <div class="form-field">
            <label for="ps_secnumber">U.S. Social Security Number (DNA)</label>
            <input type="text" id="ps_secnumber" name="ps_secnumber" value={clientData?.PS_SECNUMBER || ""} >
        </div>    
        <div class="form-field">
            <label for="ps_taxnumber">U.S. Taxpayer ID Number(DNA)</label>
            <input type="text" id="ps_taxnumber" name="ps_taxnumber" value={clientData?.PS_TAXNUMBER || ""} >
        </div>
    </div> 
<button type="submit">Save and Continue</button>
</form>

<script>
  import { initFormHandler } from "../pages/api/formHandler";
  initFormHandler();
</script>