---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Employment Information</h2>

        <div>
            <label for="primaryOccupation">Primary Occupation</label>
            <input type="text" id="primaryOccupation" name="primaryOccupation">
        </div>

        <div>
            <label for="employerName">Present Employer or School Name</label>
            <input type="text" id="employerName" name="employerName">
        </div>
        
        <div>
            <label for="employerStreetAddress1">Street Address (Line 1)</label>
            <input type="text" id="employerStreetAddress1" name="employerStreetAddress1">
        </div>
        
        <div>
            <label for="employerStreetAddress2">Street Address (Line 2)</label>
            <input type="text" id="employerStreetAddress2" name="employerStreetAddress2">
        </div>

        <div>
            <label for="employerCity">City</label>
            <input type="text" id="employerCity" name="employerCity">
        </div>

        <div>
            <label for="employerStateProvince">State/Province</label>
            <input type="text" id="employerStateProvince" name="employerStateProvince">
        </div>

        <div>
            <label for="employerCountry">Country/Region</label>
            <input type="text" id="employerCountry" name="employerCountry">
        </div>
        
        <div>
            <label for="employerTelephone">Telephone Number</label>
            <input type="text" id="employerTelephone" name="employerTelephone">
        </div>

        <div>
            <label for="employmentStartDate">Employment Start Date [mm/dd/yyyy]</label>
            <input type="text" id="employmentStartDate" name="employmentStartDate">
        </div>

        <div>
            <label for="employerPostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="employerPostalCode" name="employerPostalCode">
        </div>

        <div>
            <label for="monthlyIncome">Monthly Income in Local Currency</label>
            <input type="text" id="monthlyIncome" name="monthlyIncome">
        </div>

        <div>
            <label for="brieflyDescribeDuties">Briefly describe your duties</label>
            <textarea id="brieflyDescribeDuties" name="brieflyDescribeDuties" rows="4"></textarea>
        </div>

        <button type="submit">Submit</button>
</form>
