---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Previous Employment Information</h2>

        <div>
            <label for="previouslyEmployed">Were you previously employed?</label>
            <input type="text" id="previouslyEmployed" name="previouslyEmployed">
        </div>

        <div>
            <label for="employer1Name">Employer Name</label>
            <input type="text" id="employer1Name" name="employer1Name">
        </div>
        
        <div>
            <label for="employer1StreetAddress1">Employer Street Address (Line 1)</label>
            <input type="text" id="employer1StreetAddress1" name="employer1StreetAddress1">
        </div>
        
        <div>
            <label for="employer1StreetAddress2">Employer Street Address (Line 2)</label>
            <input type="text" id="employer1StreetAddress2" name="employer1StreetAddress2">
        </div>

        <div>
            <label for="employer1City">City</label>
            <input type="text" id="employer1City" name="employer1City">
        </div>

        <div>
            <label for="employer1StateProvince">State/Province</label>
            <input type="text" id="employer1StateProvince" name="employer1StateProvince">
        </div>

        <div>
            <label for="employer1PostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="employer1PostalCode" name="employer1PostalCode">
        </div>
        
        <div>
            <label for="employer1Country">Country/Region</label>
            <input type="text" id="employer1Country" name="employer1Country">
        </div>

        <div>
            <label for="employer1Telephone">Telephone Number</label>
            <input type="text" id="employer1Telephone" name="employer1Telephone">
        </div>
        
        <div>
            <label for="employer1JobTitle">Job Title</label>
            <input type="text" id="employer1JobTitle" name="employer1JobTitle">
        </div>
        
        <div>
            <label for="employer1SupervisorName">Supervisor's Name</label>
            <input type="text" id="employer1SupervisorName" name="employer1SupervisorName">
        </div>

        <div>
            <label for="employer1StartDate">Employment Date From [mm/dd/yyyy]</label>
            <input type="text" id="employer1StartDate" name="employer1StartDate">
        </div>

        <div>
            <label for="employer1EndDate">Employment Date To [mm/dd/yyyy]</label>
            <input type="text" id="employer1EndDate" name="employer1EndDate">
        </div>

        <div>
            <label for="employer1Duties">Briefly describe your duties</label>
            <textarea id="employer1Duties" name="employer1Duties" rows="4"></textarea>
        </div>

        <hr>

        <div>
            <label for="employer2Name">Employer 2 Name</label>
            <input type="text" id="employer2Name" name="employer2Name">
        </div>
        
        <div>
            <label for="employer2StreetAddress1">Employer Street Address (Line 1)</label>
            <input type="text" id="employer2StreetAddress1" name="employer2StreetAddress1">
        </div>
        
        <div>
            <label for="employer2StreetAddress2">Employer Street Address (Line 2)</label>
            <input type="text" id="employer2StreetAddress2" name="employer2StreetAddress2">
        </div>

        <div>
            <label for="employer2City">City</label>
            <input type="text" id="employer2City" name="employer2City">
        </div>

        <div>
            <label for="employer2StateProvince">State/Province</label>
            <input type="text" id="employer2StateProvince" name="employer2StateProvince">
        </div>

        <div>
            <label for="employer2PostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="employer2PostalCode" name="employer2PostalCode">
        </div>
        
        <div>
            <label for="employer2Country">Country/Region</label>
            <input type="text" id="employer2Country" name="employer2Country">
        </div>

        <div>
            <label for="employer2Telephone">Telephone Number</label>
            <input type="text" id="employer2Telephone" name="employer2Telephone">
        </div>

        <div>
            <label for="employer2JobTitle">Job Title</label>
            <input type="text" id="employer2JobTitle" name="employer2JobTitle">
        </div>
        
        <div>
            <label for="employer2SupervisorName">Supervisor's Name</label>
            <input type="text" id="employer2SupervisorName" name="employer2SupervisorName">
        </div>

        <div>
            <label for="employer2StartDate">Employment Date From [mm/dd/yyyy]</label>
            <input type="text" id="employer2StartDate" name="employer2StartDate">
        </div>

        <div>
            <label for="employer2EndDate">Employment Date To [mm/dd/yyyy]</label>
            <input type="text" id="employer2EndDate" name="employer2EndDate">
        </div>

        <div>
            <label for="employer2Duties">Briefly describe your duties</label>
            <textarea id="employer2Duties" name="employer2Duties" rows="4"></textarea>
        </div>

        <hr>

        <h2>Educational Information</h2>
        
        <div>
            <label for="attendedEducational">Have you attended any educational?</label>
            <input type="text" id="attendedEducational" name="attendedEducational">
        </div>

        <div>
            <label for="institution1Name">Name of Institution</label>
            <input type="text" id="institution1Name" name="institution1Name">
        </div>
        
        <div>
            <label for="institution1StreetAddress1">Street Address (Line 1)</label>
            <input type="text" id="institution1StreetAddress1" name="institution1StreetAddress1">
        </div>
        
        <div>
            <label for="institution1StreetAddress2">Street Address (Line 2)</label>
            <input type="text" id="institution1StreetAddress2" name="institution1StreetAddress2">
        </div>

        <div>
            <label for="institution1City">City</label>
            <input type="text" id="institution1City" name="institution1City">
        </div>

        <div>
            <label for="institution1StateProvince">State/Province</label>
            <input type="text" id="institution1StateProvince" name="institution1StateProvince">
        </div>

        <div>
            <label for="institution1PostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="institution1PostalCode" name="institution1PostalCode">
        </div>
        
        <div>
            <label for="institution1Country">Country/Region</label>
            <input type="text" id="institution1Country" name="institution1Country">
        </div>

        <div>
            <label for="institution1Course">Course of Study</label>
            <input type="text" id="institution1Course" name="institution1Course">
        </div>

        <div>
            <label for="institution1StartDate">Date of Attendance From [mm/dd/yyyy]</label>
            <input type="text" id="institution1StartDate" name="institution1StartDate">
        </div>

        <div>
            <label for="institution1EndDate">Date of Attendance To [mm/dd/yyyy]</label>
            <input type="text" id="institution1EndDate" name="institution1EndDate">
        </div>

        <hr>

        <div>
            <label for="institution2Name">Name of Institution</label>
            <input type="text" id="institution2Name" name="institution2Name">
        </div>
        
        <div>
            <label for="institution2StreetAddress1">Street Address (Line 1)</label>
            <input type="text" id="institution2StreetAddress1" name="institution2StreetAddress1">
        </div>
        
        <div>
            <label for="institution2StreetAddress2">Street Address (Line 2)</label>
            <input type="text" id="institution2StreetAddress2" name="institution2StreetAddress2">
        </div>

        <div>
            <label for="institution2City">City</label>
            <input type="text" id="institution2City" name="institution2City">
        </div>

        <div>
            <label for="institution2StateProvince">State/Province</label>
            <input type="text" id="institution2StateProvince" name="institution2StateProvince">
        </div>

        <div>
            <label for="institution2PostalCode">Postal Zone/ZIP Code</label>
            <input type="text" id="institution2PostalCode" name="institution2PostalCode">
        </div>
        
        <div>
            <label for="institution2Country">Country/Region</label>
            <input type="text" id="institution2Country" name="institution2Country">
        </div>

        <div>
            <label for="institution2Course">Course of Study</label>
            <input type="text" id="institution2Course" name="institution2Course">
        </div>

        <div>
            <label for="institution2StartDate">Date of Attendance From [mm/dd/yyyy]</label>
            <input type="text" id="institution2StartDate" name="institution2StartDate">
        </div>

        <div>
            <label for="institution2EndDate">Date of Attendance To [mm/dd/yyyy]</label>
            <input type="text" id="institution2EndDate" name="institution2EndDate">
        </div>

        <button type="submit">Submit</button>
</form>
