---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Security and Background Information</h2>

        <div>
            <label for="publicHealthSignificance">Do you have any communicable disease of public health significance?</label>
            <input type="text" id="publicHealthSignificance" name="publicHealthSignificance">
        </div>

        <div>
            <label for="explainPublicHealth">Explain</label>
            <textarea id="explainPublicHealth" name="explainPublicHealth" rows="3"></textarea>
        </div>

        <div>
            <label for="mentalOrPhysicalDisorder">Have you ever had a mental or physical disorder that poses a threat to the safety of yourself or others?</label>
            <input type="text" id="mentalOrPhysicalDisorder" name="mentalOrPhysicalDisorder">
        </div>

        <div>
            <label for="explainDisorder">Explain</label>
            <textarea id="explainDisorder" name="explainDisorder" rows="3"></textarea>
        </div>

        <div>
            <label for="drugAbuser">Are you or have you ever been a drug abuser or addict?</label>
            <input type="text" id="drugAbuser" name="drugAbuser">
        </div>

        <div>
            <label for="explainDrugAbuser">Explain</label>
            <textarea id="explainDrugAbuser" name="explainDrugAbuser" rows="3"></textarea>
        </div>

        <div>
            <label for="convictedLaw">Have you ever been arrested or convicted for violating any law?</label>
            <input type="text" id="convictedLaw" name="convictedLaw">
        </div>

        <div>
            <label for="explainConvictedLaw">Explain</label>
            <textarea id="explainConvictedLaw" name="explainConvictedLaw" rows="3"></textarea>
        </div>
        
        <div>
            <label for="involveProstitution">Have you ever been involved in, or do you seek to come to the U.S. to engage in, prostitution or unlawful commercialized vice?</label>
            <input type="text" id="involveProstitution" name="involveProstitution">
        </div>
        
        <div>
            <label for="explainProstitution">Explain</label>
            <textarea id="explainProstitution" name="explainProstitution" rows="3"></textarea>
        </div>
        
        <div>
            <label for="commitCrime">Have you ever committed or conspired to commit a human trafficking crime?</label>
            <input type="text" id="commitCrime" name="commitCrime">
        </div>

        <div>
            <label for="explainCommitCrime">Explain</label>
            <textarea id="explainCommitCrime" name="explainCommitCrime" rows="3"></textarea>
        </div>
        
        <div>
            <label for="votedInUS">Have you ever voted in the United States?</label>
            <input type="text" id="votedInUS" name="votedInUS">
        </div>

        <div>
            <label for="explainVotedInUS">Explain</label>
            <textarea id="explainVotedInUS" name="explainVotedInUS" rows="3"></textarea>
        </div>

        <div>
            <label for="memberGang">Have you been a member of, or in any way associated with, a gang or criminal organization?</label>
            <input type="text" id="memberGang" name="memberGang">
        </div>

        <div>
            <label for="explainGang">Explain</label>
            <textarea id="explainGang" name="explainGang" rows="3"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
