---
import "../styles/styleform.css"
---
<form id="miFormulario" action="#" method="post">
        
        <h2>Información de Viaje</h2>

        <div>
            <label for="beenInUS">¿Has estado alguna vez en EE. UU.?</label>
            <input type="text" id="beenInUS" name="beenInUS">
        </div>

        <div>
            <label for="secu">SECU</label>
            <input type="text" id="secu" name="secu">
        </div>

        <div>
            <label for="dateArrived1">Fecha de llegada (mm/dd/yyyy)</label>
            <input type="text" id="dateArrived1" name="dateArrived1">
        </div>
        
        <div>
            <label for="lengthOfStay1">Duración de la estancia</label>
            <input type="text" id="lengthOfStay1" name="lengthOfStay1">
        </div>

        <div>
            <label for="dateArrived2">Fecha de llegada (mm/dd/yyyy)</label>
            <input type="text" id="dateArrived2" name="dateArrived2">
        </div>
        
        <div>
            <label for="lengthOfStay2">Duración de la estancia</label>
            <input type="text" id="lengthOfStay2" name="lengthOfStay2">
        </div>

        <div>
            <label for="dateArrived3">Fecha de llegada (mm/dd/yyyy)</label>
            <input type="text" id="dateArrived3" name="dateArrived3">
        </div>
        
        <div>
            <label for="lengthOfStay3">Duración de la estancia</label>
            <input type="text" id="lengthOfStay3" name="lengthOfStay3">
        </div>

        <div>
            <label for="dateArrived4">Fecha de llegada (mm/dd/yyyy)</label>
            <input type="text" id="dateArrived4" name="dateArrived4">
        </div>
        
        <div>
            <label for="lengthOfStay4">Duración de la estancia</label>
            <input type="text" id="lengthOfStay4" name="lengthOfStay4">
        </div>

        <div>
            <label for="dateArrived5">Fecha de llegada (mm/dd/yyyy)</label>
            <input type="text" id="dateArrived5" name="dateArrived5">
        </div>
        
        <div>
            <label for="lengthOfStay5">Duración de la estancia</label>
            <input type="text" id="lengthOfStay5" name="lengthOfStay5">
        </div>
        
        <h2>Información de Licencia de Conducir</h2>
        
        <div>
            <label for="usDriversLicense">¿Tienes o has tenido licencia de conducir de EE. UU.?</label>
            <input type="text" id="usDriversLicense" name="usDriversLicense">
        </div>
        
        <div>
            <label for="driversLicenseNumber">Número de licencia de conducir</label>
            <input type="text" id="driversLicenseNumber" name="driversLicenseNumber">
        </div>
        
        <div>
            <label for="stateOfDriversLicense">Estado de la licencia de conducir</label>
            <input type="text" id="stateOfDriversLicense" name="stateOfDriversLicense">
        </div>

        <h2>Información de Visa</h2>

        <div>
            <label for="usVisaIssued">¿Te han emitido alguna vez una visa de EE. UU.?</label>
            <input type="text" id="usVisaIssued" name="usVisaIssued">
        </div>

        <div>
            <label for="dateLastVisaIssued">Fecha de emisión de la última visa (mm/dd/yyyy)</label>
            <input type="text" id="dateLastVisaIssued" name="dateLastVisaIssued">
        </div>
        
        <div>
            <label for="dateLastVisaExpired">Fecha de vencimiento de la última visa (mm/dd/yyyy)</label>
            <input type="text" id="dateLastVisaExpired" name="dateLastVisaExpired">
        </div>
        
        <div>
            <label for="visaNumber">Número de visa (8 dígitos, RED)</label>
            <input type="text" id="visaNumber" name="visaNumber">
        </div>
        
        <div>
            <label for="applyingForSameType">¿Estás solicitando el mismo tipo de visa?</label>
            <input type="text" id="applyingForSameType" name="applyingForSameType">
        </div>

        <div>
            <label for="applyingSameCountry">¿Estás solicitando en el mismo país o ciudad?</label>
            <input type="text" id="applyingSameCountry" name="applyingSameCountry">
        </div>

        <div>
            <label for="tenPrinted">¿Has sido "ten-printed"?</label>
            <input type="text" id="tenPrinted" name="tenPrinted">
        </div>

        <div>
            <label for="visaLostOrStolen">¿Te han perdido o robado una visa?</label>
            <input type="text" id="visaLostOrStolen" name="visaLostOrStolen">
        </div>

        <div>
            <label for="yearVisaLostOrStolen">Introduce el año en que la visa fue perdida o robada</label>
            <input type="text" id="yearVisaLostOrStolen" name="yearVisaLostOrStolen">
        </div>
        
        <div>
            <label for="explainLostOrStolen">Explica</label>
            <input type="text" id="explainLostOrStolen" name="explainLostOrStolen">
        </div>

        <div>
            <label for="visaCancelled">¿Te han cancelado alguna vez una visa de EE. UU.?</label>
            <input type="text" id="visaCancelled" name="visaCancelled">
        </div>

        <div>
            <label for="explainVisaCancelled">Explica</label>
            <input type="text" id="explainVisaCancelled" name="explainVisaCancelled">
        </div>

        <div>
            <label for="visaRefused">¿Te han rechazado alguna vez una visa de EE. UU. o un viaje?</label>
            <input type="text" id="visaRefused" name="visaRefused">
        </div>

        <div>
            <label for="explainVisaRefused">Explica</label>
            <input type="text" id="explainVisaRefused" name="explainVisaRefused">
        </div>
        
        <div>
            <label for="deniedTravel">¿Te han denegado alguna vez un viaje?</label>
            <input type="text" id="deniedTravel" name="deniedTravel">
        </div>

        <div>
            <label for="explainDeniedTravel">Explica</label>
            <input type="text" id="explainDeniedTravel" name="explainDeniedTravel">
        </div>

        <div>
            <label for="immigrantPetition">¿Alguien ha presentado una petición de inmigrante en tu nombre?</label>
            <input type="text" id="immigrantPetition" name="immigrantPetition">
        </div>

        <div>
            <label for="explainImmigrantPetition">Explica</label>
            <input type="text" id="explainImmigrantPetition" name="explainImmigrantPetition">
        </div>

        <button type="submit">Enviar</button>
</form>
